@media all and (min-width: 1024px) {
    .footer_offset {
        margin: 92px 48px 24px 48px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .footer_offset {
        margin: 88px 24px 24px 24px;
    }
}

@media all and (max-width: 767px) {
    .footer_offset {
        margin: 64px auto 24px 16px;
    }
}