.cover__title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4.75rem;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    max-width: 540px;
}

@media all and (max-width: 767px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.1875rem;
        max-width: 240px;
    }
}
